html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
body {
    font-family: "Roboto", sans-serif;
    margin: 0;
}
img {
    max-width: 100%;
    object-fit: cover;
    height: auto;
}
a {
    text-decoration: none;
    color: inherit;
}
ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}
p {
    margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-size: inherit;
}
h2 {
    color: #000;
    font-size: 36px;
    line-height: 1.36em;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}
.disable-scroll {
    overflow-y: hidden;
}
.is-outer {
    position: relative !important; // stylelint-disable-line declaration-no-important
    left: -9999px !important; // stylelint-disable-line declaration-no-important
}
.site-container {
    overflow: hidden;
}
.for-mobile {
    display: none;
}
.error {
    border: 2px #ff4019 solid !important; // stylelint-disable-line declaration-no-important
}
.btn-reset {
    border: none;
    background: transparent;
    cursor: pointer;
}
.js-focus-visible :focus:not(.focus-visible) {
    outline: none;
}
