@media (max-width: 991.98px) {
    //tablet
}

@media (max-width: 768.98px) {
    .header {
        &__burger-container {
            display: block;
            position: fixed;
            top: 22px;
            right: 16px;
            z-index: 999;
        }
        &__top {
            display: flex;
            position: fixed;
            visibility: hidden;
            width: 30%;
            z-index: 99;
            right: -250px;
        }
        &__top--active {
            visibility: visible;
            opacity: 1;
            right: 0;
            top: 40%;
            -webkit-transition: all 0.5s ease-in-out;
            -o-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;
            background: #fff;
            border-bottom: none;
            .header__top-item {
                align-items: center;
            }
        }
        &__nav {
            display: flex;
            position: fixed;
            right: -250px;
            top: 0;
            height: 100vh;
            background-color: #fff;
            max-width: 100%;
            width: 40%;
            padding-top: 100px;
            padding-left: 40px;
            flex-direction: column;
            -webkit-transition: all 0.5s ease-in-out;
            -o-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;
            visibility: hidden;
            opacity: 0;
            z-index: 10;
            .header__nav-list {
                flex-direction: column;
            }
        }
        &__nav--active {
            visibility: visible;
            opacity: 1;
            right: 0;
            .header__top--active {
                display: block;
            }
        }
        &__nav-container {
            display: flex;
            justify-content: space-between;
        }
        &__list-item:not(:last-child) {
            margin-right: 0;
            margin-bottom: 15px;
        }
        &__button-container {
            position: fixed;
            right: -250px;
            -webkit-transition: all 0.5s ease-in-out;
            -o-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;
            visibility: hidden;
            opacity: 0;
        }
        &__button-container--active{
            position: fixed;
            right: 13%;
            bottom: 30%;
            visibility: visible;
            opacity: 1;
            -webkit-transition: all 0.5s ease-in-out;
            -o-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;
            z-index: 99;
        }
    }
    .promo {
        &__wrapper {
            grid-template-columns: 1fr;
        }
    }
    .about {
        &__wrapper {
            grid-template-columns: 1fr;
        }
        &__content {
            order: -1;
        }
    }
    .services {
        &__button-container {
            margin: 0 auto;
            padding: 15px 0;
        }
        .tabs__top {
            display: grid;
            grid-template-columns: 1fr;
            text-align: center;
        }
        .tab__content-item {
            grid-template-columns: 1fr;
            margin-bottom: 50px;
        }
        .tab__content-title {
            margin-bottom: 50px;
        }
        .tab__content-text--right {
            padding-top: 15px;
            padding-left: 0;
        }
        .tab__content-img--reverse {
            order: 0;
        }
    }
    .work__wrapper {
        grid-template-columns: 1fr;
    }
    .work .image-compare {
        height: 300px;
        width: 100%;
    }
    .promo__form {
        margin: 0 auto;
        margin-top: 50px;
    }
    .popup{
        margin-top: 0;
    }
}

@media (max-width: 639.98px) {
    .header {
        &__nav {
            width: 50%;
        }
        &__top--active {
            width: 50%;
            top: 47%;
        }
    }
    .footer{
        &__top-text{
            max-width: 75%;
        }
    }
}
